extends layout

block content
  - var arr = ['n/a', 'helped', 'did not help'];
  h1 #{title}
  if errors
    ul.bg-warning.text-white
      for error in errors
        li!= error.msg
  form(method='POST', action='')
    table.table
      tbody
        tr
          td Date
          td
            input.form-control(name='date', type='date')
        tr
          td Status on waking up
          td
            input.form-control(name='status_on_wakeup', type='text', value='fine')
        tr
          td Severity
          td
            input.form-control(name='severity', type='text', value='0')
        tr
          td Relief Method: Tea
          td
            select.form-control
              for value in arr
                option #{value}
        tr
          td Relief Method: Walk
          td
            select.form-control
              for value in arr
                option #{value}
        tr
          td Relief Method: Bath
          td
            select.form-control
              for value in arr
                option #{value}
        tr
          td Relief Method: Aciloc
          td
            select.form-control
              for value in arr
                option #{value}
        tr
          td Relief Method: Food
          td
            select.form-control
              for value in arr
                option #{value}
        tr
          td Relief Method: Random Medicine
          td
            select.form-control
              for value in arr
                option #{value}
        tr
          td Relief Method: Rizora
          td
            select.form-control
              for value in arr
                option #{value}
        tr
          td Possible Trigger: Took night medication on time
          td
            input.form-control(name='night_meds_on_time', type='checkbox')
        tr
          td Possible Trigger: Took ayurvedic medicines
          td
            input.form-control(name='ayurvedic_medicine', type='checkbox')
        tr
          td Possible Trigger: Overexertion
          td
            input.form-control(name='overexertion', type='checkbox')
        tr
          td Possible Triggers: Acidity
          td
            input.form-control(name='acidity', type='checkbox')
    button.btn.btn-primary(type='submit') Save
    button.btn.btn-secondary(type='reset') Reset
